<?xml version="1.0" encoding="utf-8"?>
<!--
This file is part of BeepMe.

BeepMe is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

BeepMe is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with BeepMe. If not, see <http://www.gnu.org/licenses/>.

Copyright since 2012 Michael Glanznig
http://beepme.glanznig.com
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.glanznig.beepme"
    android:versionCode="6"
    android:versionName="0.9"
    android:installLocation="auto">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="8" />
    
    <!-- <uses-permission android:name="android.permission.INTERNET" /> -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    
    <application android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name=".BeeperApp"
        android:allowBackup="false">
      
	    <activity
	        android:name=".MainMenu"
	        android:label="@string/app_name"
	        android:screenOrientation="portrait">
	        <intent-filter>
	            <action android:name="android.intent.action.MAIN" />
	            <category android:name="android.intent.category.LAUNCHER" />
	         </intent-filter>
	    </activity>
	    
	    <activity android:name=".Preferences" android:label="@string/preferences"></activity>
	    
	    <activity android:name=".AboutActivity" android:label="@string/about"></activity>
	    
	    <activity android:name=".BeepActivity" android:label="@string/beep"
	        android:launchMode="singleTask"
	        android:screenOrientation="portrait">
	    </activity>
	    
	    <activity android:name=".ListSamplesActivity" android:label="@string/list_samples">
	        <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.glanznig.beepme.MainMenu" />
	    </activity>
	    
	    <activity android:name=".NewSampleActivity" android:label="@string/new_sample" android:windowSoftInputMode="adjustPan">
	        <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.glanznig.beepme.MainMenu" />
	    </activity>
	    
	    <activity android:name=".ViewSampleActivity" android:label="@string/view_sample">
	        <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.glanznig.beepme.ListSamplesActivity" />
	    </activity>
	    
	  </application>

</manifest>
